@use 'mixins' as m;

.footer {
    background-color: var(--color-grey-alt);
    padding: 40px 165px;    

    @include m.mobile {
        padding: 30px 165px;
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;

        @include m.mobile {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            row-gap: 20px;
        }
    }

    &__logo {
        width: 150px;
        height: 30px;
        object-fit: cover;
    }

    .socials {
       
        &__list {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
        }
    }
}