@use 'mixins' as m;


.header-hero {
    background: radial-gradient(837.78% 378.29% at 69.44% -79.86%, rgba(31, 35, 39, 0) 0%, #191C1F 47.89%, rgba(31, 35, 39, 0) 100%), url('../images/hero-bc.webp') center / cover no-repeat;
    overflow-x:   hidden;


    .hero-wrapper {
        padding: 180px 0;

        @include m.mobile {
            display: flex;
            justify-content: center;
            padding: 150px 0;

        }

        .hero {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            max-width: 750px;

            &__subtitle {
                font-size: 18px;
                font-weight: 700;
            }

            &__title {
                max-width: 750px;
                font-size: 64px;
                font-weight: 700;

                @include m.tablet  {
                    font-size: 58px;
                }

                @include m.mobile {
                    font-size: 50px;
                }

                @include m.mobile-s {
                    font-size: 42px;
                    max-width: 200px;
                    text-wrap: auto;
                }
            }

            &__desc {
                display: block;
                width: 750px;
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 20px;
                text-wrap: wrap;

                @include m.tablet {
                    font-size: 20px;
                    width: 400px;
                }

                @include m.mobile {
                    font-size: 18px;
                    max-width: 250px;
                    text-wrap: auto;
                }

                @include m.mobile-s {
                    font-size: 16px;
                    max-width: 200px;
                    text-wrap: auto;
                }


            }
        }
    }

}