@use 'mixins' as m;

.testimonial {
    background-color: var(--color-grey-alt);
    padding: 120px 0px;

    &-wrapper {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 155px;

        @include m.tablet {
            display: flex;
            align-items: center;
            flex-direction: column;
            column-gap: 60px;
        }
    }

    &__img {
        max-width: 540px;
        height: 380px;

        @include m.mobile {
            max-width: 540px;
            height: 320px;
            object-fit: cover;
        }

        @include m.mobile-s {
            max-width: 325px;
            height: 240px;
            object-fit: cover;
        }
    }

    &-body {
        padding: 45px 0;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        @include m.tablet {
            align-items: center;
            text-align: center;
            row-gap: 10px;
        }
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 700;
    }

    &__title {
        max-width: 400px;
        font-size: 36px;
        font-weight: 700;
    }

    &__desc {
        font-size: 18px;
        font-weight: 300;
        width: 400px;

        @include m.mobile {
            font-size: 16px;
            width: 300px;
        }
    }

   
}